### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
#display/set to variable
players = len(purchase_data['SN'].unique())
pd.DataFrame({
    'Total Players': [players]
})

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [5]:
#count each gender
gender_count = purchase_data['Gender'].value_counts()

#get percentage
gender_percent = (purchase_data['Gender'].value_counts()/players)*100

In [6]:
gender_count

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [7]:
gender_percent

Male                     113.194444
Female                    19.618056
Other / Non-Disclosed      2.604167
Name: Gender, dtype: float64

In [ ]:
purchase_data.head()

In [ ]:
df = pd.DataFrame({
    'Number of Unique Items': [purchase_data['Item Name'].nunique()],
    'Average Price': [purchase_data['Price'].mean()],
    'Number of Purchases': [purchase_data.SN.count()],
    'Total Revenue': [purchase_data.Price.sum()]
})

df["Average Price"]=df["Average Price"].map('${:,.2f}'.format)           
df["Total Revenue"]=df["Total Revenue"].map('${:,.2f}'.format)
df

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [ ]:
#present data in dataframe
gender_df = pd.DataFrame({
    'Count': gender_count,
    'Percent of Total Players': gender_percent.map('{:.2f}%'.format)
})
gender_df


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [ ]:
#purchases by each gender
gender_purchase_data = purchase_data.groupby('Gender')
gender_purchase_count = gender_purchase_data['Gender'].count()
gender_purchase_count #test works

#average purchase pirce
gender_purchase_mean = gender_purchase_data['Price'].mean()
gender_purchase_mean #test works

#total revenue
gender_purchase_total = gender_purchase_data['Price'].sum()
gender_purchase_total #test works

gender_purchase_data_df = pd.DataFrame({
    'Number of Players': gender_count,
    'Purchase Count': gender_purchase_count,
    'Avg Purchase Price': gender_purchase_mean.map('${:,.2f}'.format),
    'Total Revenue': gender_purchase_total.map('${:,.2f}'.format),
})
gender_purchase_data_df

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [ ]:

#establish bins
bins = [0, 9, 14, 19, 24, 29, 34, 39, 400]

group_labels = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']


#categorize the existing players using the age bins
purchase_data['age_group'] =  pd.cut(purchase_data['Age'], bins, labels=group_labels)

#groupby
players_by_age = purchase_data.groupby('age_group').SN.nunique()

#create dataframe to show total count and percentage of total players for each group
age_demo = pd.DataFrame({
    'Total Count': players_by_age,
    'Percentage of Players': (players_by_age / purchase_data.SN.nunique() * 100).map("{:.2f}".format)
})
age_demo

#isolate columns needed for chunk in two frames
purchase_count_age = purchase_data[['age_group', 'Purchase ID']]
purchase_values_age = purchase_data[['age_group', 'Price']]

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [ ]:

#totals purchase by age bin
total_purchase_age = purchase_count_age.groupby('age_group').count() 

#Dollar values of purchase by age
total_purchase_values_age = purchase_values_age.groupby('age_group').sum()

#display summary df
purchasing_age_analysis = pd.DataFrame({
    'Purchase Count': total_purchase_age['Purchase ID'],
    'Average Purchase Price': (total_purchase_values_age['Price'] / total_purchase_age['Purchase ID']).map("${:.2f}".format),
    'Total Purchase Value': total_purchase_values_age['Price'].map("${:.2f}".format)
})
purchasing_age_analysis

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [ ]:

#Count purchases made by unique SN
spender_purchase = purchase_data["SN"].value_counts()

#Calculate the average purchase by unique SN
spender_average_purchase = purchase_data["Price"].groupby(purchase_data["SN"]).mean()

#Calculate the total revenue from each unique SN
spender_total_purchase = purchase_data["Price"].groupby(purchase_data["SN"]).sum()

#display summary df
big_spenders = pd.DataFrame({
    "Purchase Count":spender_purchase,
    "Average Purchase Price":spender_average_purchase,
    "Total Purchase Value":spender_total_purchase
})

#create df, sort and format
big_spenders_sorted = big_spenders.sort_values("Total Purchase Value", ascending= False)
big_spenders_sorted["Average Purchase Price"] = big_spenders_sorted["Average Purchase Price"].map("${:.2f}".format)
big_spenders_sorted["Total Purchase Value"] = big_spenders_sorted["Total Purchase Value"].map("${:.2f}".format)

#print top 5
big_spenders_sorted[:5]

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [ ]:

#isolate columned needed
popular_items = purchase_data[['Item ID', 'Item Name', 'Price']]


#count transactions for each item
items_purchase = popular_items.groupby(["Item ID","Item Name"])["Price"].count()
#Price of each item
item_price= popular_items.groupby(["Item ID","Item Name"])["Price"].mean()
#Calculate total revenue from each item
popular_purchase_value = popular_items.groupby(["Item ID","Item Name"])["Price"].sum()

#display summary df
popular_items = pd.DataFrame({
    "Purchase Count":items_purchase,
    "Item Price":item_price,
    "Total Purchase Value":popular_purchase_value
})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [ ]:





#create new df, sort and format
popular_items_sorted = popular_items.sort_values("Purchase Count", ascending= False)
popular_items_sorted["Item Price"]= popular_items_sorted["Item Price"].map("${:.2f}".format)
popular_items_sorted["Total Purchase Value"]= popular_items_sorted["Total Purchase Value"].map("${:.2f}".format)

#print the DF
popular_items_sorted[:5]

#re-sort above table by total purchase
popular_items_sorted_purchase = popular_items.sort_values("Total Purchase Value", ascending= False)
popular_items_sorted_purchase["Item Price"]= popular_items_sorted_purchase["Item Price"].map("${:.2f}".format)
popular_items_sorted_purchase["Total Purchase Value"]= popular_items_sorted_purchase["Total Purchase Value"].map("${:.2f}".format)

#print the DF
popular_items_sorted_purchase[:5]